<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        More Charts
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item position-relative">
            Apexcharts
        </li>
        <li class="breadcrumb-item position-relative">
            More Charts
        </li>
    </ol>
</div>

<!-- Polar Charts -->
<div class="row">
    <div class="col-lg-6">

        <!-- Basic Range Area Chart -->
        <app-basic-range-area-chart />

    </div>
    <div class="col-lg-6">

        <!-- Basic Timeline Chart -->
        <app-basic-timeline-chart />

    </div>
    <div class="col-lg-6">

        <!-- Basic Candlestick Chart -->
        <app-basic-candlestick-chart />

    </div>
    <div class="col-lg-6">

        <!-- Basic Boxplot Chart -->
        <app-basic-boxplot-chart />

    </div>
    <div class="col-lg-6">

        <!-- Basic Bubble Chart -->
        <app-basic-bubble-chart />

    </div>
    <div class="col-lg-6">

        <!-- Basic Scatter Chart -->
        <app-basic-scatter-chart />

    </div>
    <div class="col-lg-6">

        <!-- Basic Heatmap Chart -->
        <app-basic-heatmap-chart />

    </div>
    <div class="col-lg-6">

        <!-- Basic Treemap Chart -->
        <app-basic-treemap-chart />

    </div>
</div>